#console-window {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    overflow: auto;
    width: 98.2%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: blue;
    z-index: 500000;
    margin: 0;
    padding: 5px 15px;
    font-family: "Courier New", Courier, monospace;
    font-size: 13px;
    background: #F8F8F8;
    -moz-box-shadow: inset 0 0 8px #000000;
    -webkit-box-shadow: inset 0 0 8px #000000;
    box-shadow: inset 0 0 8px #000000;
    height: 40%;
}

#console-window  div.console-content {
    display: block;
    padding: 10px 10px 0 10px;
    margin: 15px 0 -15px 0;
    -webkit-box-shadow: 3px 3px 3px 3px rgba(1, 1, 1, 0.2);
    box-shadow: 3px 3px 3px 3px rgba(1, 1, 1, 0.2);
}

#console-window a {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    text-decoration: none;
    float: left;
    height: 11px;
    width: 100%;
    -webkit-box-shadow: inset 0 0 3px 3px rgba(1, 1, 1, 0.2);
    box-shadow: inset 0 0 3px 3px rgba(1, 1, 1, 0.2);
    cursor: pointer;
}

#console-window  table.console-window tr th, table.console-window tr td {
    padding: 2px;
    line-height: 1;
    text-align: left;
}